.advantages
    position: relative

    &__image
        margin-right: 8rem
        width: calc(50% - 8rem)
        
        img
            width: 16rem
            display: block
            border-radius: $border-radius
            border: solid .5rem $color-black

    &__content
        flex: 1

    &__content
        .btn
            margin-top: 3.5rem