.finder
    z-index: 2
    width: 100vw
    position: fixed
    height: calc(100vh - 8rem)
    transform: translateX(-100%)
    background-color: $color-white
    transition: transform $transition

    .h1
        width: calc(100% - (2.2rem + 2.5rem))

    &__inner
        height: 100%
        overflow: auto
        padding: 2.5rem
        position: relative
        max-height: calc(100vh - 8rem)

        @media screen and (min-width: $tablet)
            padding: 5rem
            max-height: 100vh

    &__close
        top: 2.5rem
        right: 2.5rem
        position: absolute

        svg
            width: 2.2rem
            height: 2.2rem
            fill: $color-grey

        @media screen and (min-width: $tablet)
            top: 5rem
            right: 5rem

        @media screen and (min-width: $laptop-m)
            display: none !important

    &__collapse
        top: 50%
        left: calc(100%)
        position: absolute
        transform: translateY(-50%)
        
        &-inner
            position: relative
            padding: 1.5rem 1rem
            box-shadow: $box-shadow
            background-color: $color-white
            border-radius: 0 $border-radius $border-radius 0

            &::after
                content: ""
                top: 0
                bottom: 0
                z-index: 2
                right: 100%
                width: 1.75rem
                position: absolute
                background-color: $color-white

            svg
                width: 1.6rem
                height: 1.6rem
                display: block
                fill: $color-primary
                transition: transform $transition

            @media screen and (min-width: $laptop-m)
                display: none !important

    @media screen and (min-width: $tablet)
        height: 100vh
        width: calc(100vw - 28rem)

    @media screen and (min-width: $laptop)
        width: 42rem

    @media screen and (min-width: $laptop-m)
        transform: translateX(0%)