.header
    overflow: hidden
    padding: 4.5rem 0
    box-shadow: $box-shadow
    background-color: $color-primary
    background-image: linear-gradient(to right, $color-primary, $color-primary-dark)

    &__logo
        width: auto
        height: 8rem
        fill: $color-white

    &__illustration
        right: 0
        width: 18rem
        bottom: -7.7rem
        position: absolute