.rooms
    flex-direction: column

    &__wrapper
        flex-direction: column
        align-items: flex-start

        @media screen and (min-width: $tablet)
            flex-direction: row

    // List view

    &__item
        cursor: pointer
        padding: 3rem
        flex-direction: column
        box-shadow: $box-shadow-small
        transition: background-color $transition

        &:hover
            background-color: $color-grey-light

        &:not(:last-child)
            margin-bottom: 1.5rem

        *
            pointer-events: none

        &--extended
            flex-direction: row

        &--selected
            background-color: $color-white !important
            border: solid .2rem $color-primary

        &--error
            color: $color-white !important
            background-color: $color-red !important

            .h3, p
                color: $color-white

    &__content
        text-align: center
        margin-right: 2rem
        padding-right: 3rem
        border-right: solid .2rem $color-grey-medium

    &__floor
        display: block
        font-weight: 500
        font-size: 1.5rem
        color: $color-grey
        margin-bottom: .5rem

    &__spots
        flex-wrap: wrap

        & > span
            width: 100%
            text-align: center
            display: inline-block

            &:not(:last-child)
                margin-bottom: -1.25rem

    &__highlight
        font-size: 2.4rem
        font-weight: bold
        margin-top: -.9rem
        color: $color-primary
        align-self: flex-start
        margin-right: .5rem

    // Detailed view

    &__detailed
        flex: 1
        max-width: 100%
        overflow: hidden
        margin-bottom: 1.5rem
        box-shadow: $box-shadow-small

        @media screen and (min-width: $laptop)
            margin-bottom: 0
            margin-left: 1.5rem

    &__info
        justify-content: space-between

        .h2
            font-weight: bold
            margin-bottom: .25rem

        .btn
            margin-bottom: .75rem

        &-right
            margin-left: 2.5rem

    &__divider
        margin: 3rem 0
        border-top: none
        border-color: $color-grey-light

    &__placing
        width: 32rem
        height: 16rem
        display: block
        margin: 0 auto
        // border: solid .1rem $color-grey-medium